@import url("./variables.css");

body { 
    margin: 0; padding: 0; border: 0;
}
 
.site-container { 
    width: 100vw;
    height: 100vh;
    border: 0; margin: 0; padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: radial-gradient(ellipse farthest-side, var(--soft-purple), var(--obsidian));
    animation: pulse 3s infinite alternate;
}

@keyframes pulse {
    0% {
        background-size: 100% 100%;
    }
    100% {
        background-size: 110% 110%;
    }
}

.login-body {
    width: 30%;
    height: 72%;
    background-color: var(--dark-purple);
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-wrapper {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.upper-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
}

.upper-text > p {
    color: var(--beige);
}

.upper-text .main {
    font-size: 28px;
    margin-bottom: 0;
}

.upper-text .secondary {
    margin-top: 0;
    font-size: 13px;
    text-align: center;
}

.input-fields {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputBox {
    width: 100%;
    background-color: var(--snow-white);
    opacity: 0.6;
    height: 47px;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.25), 5px 5px 5px rgba(0,0,0,0.25);
    justify-content: center;
    align-items: center;
    display: flex;
}

.inputBox input {
    width: 100%;
    height: 100%;
    font-size: 17px;
    background-color: transparent;
    border: none;
}

.inputBox input:focus {
    outline: none
}

.icon {
    width: 30px;
    height: 30px;
    opacity: 0.65;
    margin-right: 5px;
    margin-left: 10px;
}

.iconSmall {
    width: 25px;
    height: 25px;
    opacity: 0.65;
    margin-right: 10px;
}

.iconSmall:hover {
    cursor: pointer;
}

.input-fields a {
    text-decoration: none;
    color: var(--snow-white);
    opacity: 50%;
    font-size: 13px;
    margin-left: auto;
}

.submit-login {
    width: 100%;
    background-color: rgba(128, 83, 154, 0.6);
    height: 47px;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--linen);
    border: none;
    transition: transform 0.15s ease-in-out;
}

.submit-login:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.accC {
    display: inline;
    font-size: 12px;
    margin-top: 10px;

} 
.accC p {
    display: inline;
    opacity: .5;
    color: var(--snow-white);
}

.accC a {
    display: inline;
    color: var(--snow-white);
    opacity: .7;
}

.accC a:hover {
    cursor: pointer;
}