.active-line, .permanent-line, .highlighted-line {
    position: absolute;
    height: 2px;
    background: #444;
    transform-origin: 0 0;
    z-index: 0;
    pointer-events: all;
}

.active-line {
    background: yellow;
}

.highlighted-line {
    height: 3px;
    position: absolute;
    background: linear-gradient(
        90deg,
        #333 0%,
        #444 50%,
        #333 100%
    );
    background-size: 100px 100%;
    animation: flowRight 0.5s linear infinite;
    transform-origin: 0 0;
    z-index: 0;
}

@keyframes flowRight {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100px 0;
    }
}
