@import url("./variables.css");

body { 
    margin: 0; padding: 0; border: 0;
}
 
.site-container { 
    width: 100vw;
    height: 100vh;
    border: 0; margin: 0; padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(ellipse farthest-side, var(--soft-purple), var(--obsidian));
}

.login-body {
    width: 30%;
    height: 65%;
    background-color: var(--dark-purple);
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-wrapper {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.upper-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    margin-bottom: 15px;
}

.upper-text > p {
    color: var(--beige);
}

.upper-text .main {
    font-size: 32px;
    margin-bottom: 0;
}

.upper-text .secondary {
    margin-top: 0;
    font-size: 13px;
}

.input-fields {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputBox {
    width: 100%;
}

.inputBox input {
    width: 100%;
}




.socials-hr {
    width: 80%;
    display: flex;
    align-items: center;
    color: var(--beige);
    margin: 20px 0;
    font-size: 10px;
}

.socials-hr::before,
.socials-hr::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--beige);
    margin: 0 15px;
}

.socials {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-box {
    width: 90px;
    height: 65px;
    background-color: rgba(217, 217, 217, 0.2);
    border-radius: 15px;
    box-shadow: 
        5px 5px 5px rgba(0, 0, 0, 0.2), 
        inset 5px 5px 5px rgba(255, 255, 255, 0.1);
}