@import url("./variables.css");

body { 
    margin: 0; padding: 0; border: 0;
}
 
.site-container { 
    width: 100vw;
    height: 100vh;
    border: 0; margin: 0; padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(ellipse farthest-side, var(--soft-purple), var(--obsidian));
}

.login-body {
    width: 30%;
    height: 65%;
    background-color: var(--dark-purple);
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-wrapper {
    width: 70%;
}

.upper-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upper-text > p {
    color: var(--beige);
}












.socials {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-box {
    width: 90px;
    height: 70px;
    background-color: rgba(217, 217, 217, 0.2);
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}